<template>
    <div>
        <h3>Todo Dashboard</h3>

        <div class="card">
            <div class="card-header">
                Todos
            </div>
            <div class="card-body">
                ********************<br/>
                * Display a list of all of the user's Todos here.<br/>
                * The user should be able to mark them as complete or delete them.<br/>
                * Completed Todos should move to the completed section below.<br/>
                * At the bottom of the list, preset the user with the ability to add<br/>
                * a new Todo.<br/>
                ********************
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-header">
                Completed Todos
            </div>
            <div class="card-body">
                ********************<br/>
                * Display a list of all of the user's completed Todos here.<br/>
                * Should show the date / time when each Todo was completed.<br/>
                * The user should be able to delete them.<br/>
                ********************
            </div>
        </div>
    </div>
</template>

<script>
export default {
    //TODO: Implement Dashboard Functionality
}
</script>
